# === Python Package ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.log
*.spec
*.manifest
*.tmp
*.bak

# Build outputs
build/
dist/
*.whl
*.tar.gz

# === R Package ===
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj
*.rdb
*.rdx
.Rcheck/
NAMESPACE


# === Other ===
.DS_Store
*.rds
*.RDS